.register-banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #efbe11;
    width: 250px;
    background-color: #666161;
    position: relative;
    right: 340px;
}

.register-banner__message1 {
    margin-top: 45px;
}

.register-banner__fitflix {
    margin-top: 35px;
    width: 100%;
    height: 110px;
}

.register-banner__message2 {
    margin-top: 35px;

}

.register-banner__cheering {
    width: 100%;
    position: relative;
    top: 47px;
}