.review-create-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.review-create-content__title {
    font-size: 16px;
}

.review-create-content__nutrition {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin-top: 30px;
    position: relative;
    left: 10px;
}

.review-create-content__nutrition__icon {
    position: relative;
    right: 46px;
}

.review-create-content__nutrition__link {
    text-decoration: none;
    color: black;
}

.review-create-content__nutrition__link:hover {
    color: #efbe11;
    transition: all 0.2s ease-out;
}

.review-create-content__buildmuscle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin-top: 20px;
    position: relative;
    left: 18px;
}

.review-create-content__buildmuscle__icon {
    position: relative;
    right: 36px;
}

.review-create-content__buildmuscle__link {
    text-decoration: none;
    color: black;
}

.review-create-content__buildmuscle__link:hover {
    color: #efbe11;
    transition: all 0.2s ease-out;
}

.review-create-content__buildpower {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin-top: 20px;
    position: relative;
    left: 22px;
}

.review-create-content__buildpower__icon {
    position: relative;
    right: 40px;
}

.review-create-content__buildpower__link {
    text-decoration: none;
    color: black;
}

.review-create-content__buildpower__link:hover {
    color: #efbe11;
    transition: all 0.2s ease-out;
}

.review-create-content__build-a-homegym {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin-top: 20px;
    position: relative;
    left: 50px;
}

.review-create-content__build-a-homegym__icon {
    position: relative;
    right: 40px;
}

.review-create-content__build-a-homegym__link {
    text-decoration: none;
    color: black;
}

.review-create-content__build-a-homegym__link:hover {
    color: #efbe11;
    transition: all 0.2s ease-out;
}