.review-create-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.review-create-content__title {
    color: #F62525;
    font-size: 24px;
    font-weight: 600;
}

.review-create-content__nutrition {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    margin-top: 30px;
    position: relative;
    left: 10px;
}

.review-create-content__nutrition__icon {
    position: relative;
    right: 46px;
}

.review-create-content__nutrition__link {
    text-decoration: none;
    color: #000;
}

.review-create-content__nutrition__link:hover {
    color: #efbe11;
    transition: all 0.2s ease-out;
}

.review-create-content__build-muscle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
    position: relative;
    left: 18px;
}

.review-create-content__build-muscle__icon {
    position: relative;
    right: 36px;
}

.review-create-content__build-muscle__link {
    text-decoration: none;
    color: black;
}

.review-create-content__build-muscle__link:hover {
    color: #efbe11;
    transition: all 0.2s ease-out;
}

.review-create-content__build-power {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
    position: relative;
    left: 22px;
}

.review-create-content__build-power__icon {
    position: relative;
    right: 40px;
}

.review-create-content__build-power__link {
    text-decoration: none;
    color: #000;
}

.review-create-content__build-power__link:hover {
    color: #efbe11;
    transition: all 0.2s ease-out;
}

.review-create-content__build-a-homegym {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
    position: relative;
    left: 50px;
}

.review-create-content__build-a-homegym__icon {
    position: relative;
    right: 40px;
}

.review-create-content__build-a-homegym__link {
    color: #000;
    text-decoration: none;
}

.review-create-content__build-a-homegym__link:hover {
    color: #efbe11;
    transition: all 0.2s ease-out;
}

@media screen and (min-width: 1600px) {
    .review-create-content {
        width: 1670px;
    }
    .review-create-content__title {
        font-size: 32px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .review-create-content__nutrition {
        font-size: 28px;
        margin-bottom: 14px;
    }
    .review-create-content__build-muscle {
        font-size: 28px;
        position: relative;
        left: 24px;
        margin-bottom: 14px;
    }
    .review-create-content__build-power {
        font-size: 28px;
        position: relative;
        left: 24px;
        margin-bottom: 14px;
    }
    .review-create-content__build-a-homegym {
        font-size: 28px;
        position: relative;
        left: 60px;
        margin-bottom: 10px;
    }
}

