.quotes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.quote__one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 330px;
    flex-shrink: 0;
    position: relative;
    right: 50px;
    padding: 22px;
}

.quote__two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 330px;
    flex-shrink: 0;
    padding: 22px;
}

.quote__three {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 330px;
    flex-shrink: 0;
    position: relative;
    left: 50px;
    padding: 22px;
}

@media screen and (min-width: 1435px) {
    .quotes {
        font-size: 22px;
    }

    .quote__one {
        position: relative;
        right: 25px;
    }

    .quote__two {
        position: relative;
        left: 125px;
    }

    .quote__three {
        margin-left: 240px;
    }
}

@media screen and (max-width: 1250px) {
    .quote__one {
        position: relative;
        right: 75px;
    }
}





