.review-cico-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    margin-top: 40px;
}

.review-cico-body__title {
    color: #F62525;
    font-size: 22px;
}

.review-cico-body__text {
    font-size: 22px;
    font-weight: 600;
    margin-top: 30px;
}

.review-cico-body__fourstars {
    margin-top: 35px;
}

@media screen and (min-width: 1600px) {
    .review-cico-body__title {
        font-size: 30px;
    }
    .review-cico-body__text {
        font-size: 26px;
    }
    .review-cico-body__fourstars {
        width: 250px;
        height: 50px;
    }
}