.my-classes-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.my-classes-content__message {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    color: #F62525;
    margin-top: 40px;
}