.my-classes-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-classes-content__button {
    color: #fff;
    background-color: #F62525;
    border-color: #F62525;
    border-radius: 8px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
    margin-top: 60px;
}

.my-classes-content__message {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    color: #F62525;
    margin-top: 40px;
}

.my-classes-content__bookings-not-found {
    color: #F62525;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    top: 28px;
}

.my-classes-content__bookings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #33769C;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
}

.my-classes-content__bookings__item1 {
    color: #000;
    margin-top: 15px;
    margin-bottom: 15px;
}

.my-classes-content__bookings__item2 {
    color: #000;
    margin-top: 15px;
    margin-bottom: 15px;
}

.my-classes-content__bookings__item3 {
    color: #000;
    margin-top: 15px;
    margin-bottom: 15px;
}

.my-classes-content__count {
    color: #F62525;
    margin-top: 20px;
}

.my-classes-content__bookings__title {
    color: #000;
    font-size: 22px;
    margin-top: 10px;
}