$light-red: #F62525;
$white: #fff;
$light-blue: #33769C;
$black: #000;

.my-classes-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__button {
        color: $white;
        background-color: $light-red;
        border-color: $light-red;
        border-radius: 8px;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-size: 20px;
        font-weight: 600;
        padding: 5px;
        margin-top: 60px;
    }

    h1 {
        color: $light-red;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-size: 20px;
        font-weight: 600;
    }

    &__bookings {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $light-blue;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 100px;
    }

    &__search-result {
        margin-top: 20px;
        margin-bottom: 20px;

        h1 {
            color: $black;
        }
    }

        h2 {
            color: $light-red;
            font-size: 20px;
            margin-top: 20px;
        }
}

@media Screen and (min-width: 375px) {
    .my-classes-content {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

@media Screen and (min-height: 1024px) {
    .my-classes-content {
        margin-top: 200px;
        margin-bottom: 200px;
    }
}

@media Screen and (min-width: 1200px) {
    .my-classes-content {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

@media Screen and (min-height: 1366px) {
    .my-classes-content {
        margin-top: 360px;
        margin-bottom: 360px;
    }
}

@media Screen and (min-width: 1600px) {
    .my-classes-content {
        margin-top: 160px;
        margin-bottom: 160px;
    }
}