$white: #fff;
$pink-neon: #FF285C;

.button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
    position: relative;
    left: 26px;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-size: 26px;
        font-weight: 800;
        margin-right: 16px;
    }

    &__label {
        margin-top: 26px;

        &__link {
            color: $white;
            background-color: $pink-neon;
            border-radius: 10px;
            font-family: 'M PLUS Rounded 1c', sans-serif;
            font-size: 18px;
            font-weight: 600;
            text-decoration: none;
            padding: 10px;
        }
    }

    &__check {
        width: 45px;
        height: 45px;
    }
}

@media Screen and (max-width: 1350px) {
    .button {
        position: relative;
        left: 60px;
    }
}

@media screen and (min-height: 1024px) {
    .button {
        margin-bottom: 90px;
    }
}

@media screen and (min-height: 1366px) {
    .button {
        margin-bottom: 100px;
    }
}

@media Screen and (min-width: 1600px) {
    .button {
        margin-bottom: 112px;
    }
}