.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
    position: relative;
    left: 26px;
}

.button__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 26px;
    font-weight: 800;
    margin-right: 16px;
}

.button__container__label {
    margin-top: 26px;
}

.button__container__label__link {
    color: #fff;
    background-color: #FF285C;
    border-radius: 10px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
}

.button__check {
    width: 45px;
    height: 45px;
}

@media screen and (min-width: 768px){
    .button__container {
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 1200px){
    .button__container {
        font-size: 28px;
    }

    .button__container__label__link {
        font-size: 20px;
    }
}

@media screen and (min-width: 1600px) {
    .button__container {
        font-size: 28px;
        position: relative;
        left: 25px;
    }

    .button__container__label__link {
        font-size: 20px;
    }

    .button__check {
        position: relative;
        left: 22px;
    }
}

@media screen and (min-height: 1366px) {
    .button__container {
        margin-bottom: 258px;
    }
}