.CICO-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-top: 70px;
}

.CICO-content__link {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    color: #F62525;
    margin-bottom: 64px;
}

.CICO-content__link:hover {
    color: #efbe11;
    transition: all 0.2s ease-out;
}

.CICO-content__message {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.CICO-content__button {
    color: #fff;
    background-color: #FF285C;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 18px;
    font-weight: 600;
    border-color: #FF285C;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
}