.login-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 50px;
}

.login-content__icon-container {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 35px;
}

.login-content__icon-container-exclamation {
    position: relative;
    bottom: 50px;
}

.login-content__line-container {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.login-content__line-container__line1 {
    color: #F62525;
    font-size: 24px;
}

.login-content__line-container__line2 {
    margin-top: 30px;
}

.login-content__line-container__line2__link1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /*color: #000;*/
    text-decoration: none;
    margin-top: 15px;
}

.login-content__line-container__line2__link1__message1 {
    width: 125px;
    font-size: 18px;
    color: #fff;
    background-color: #FF285C;
    border-radius: 10px;
    padding: 5px;
}

/*.login-content__line-container__line2__link1__message1:hover {*/
/*    color: #efbe11;*/
/*    transition: all 0.2s ease-out;*/
/*}*/

.login-content__line-container__line3 {
    margin-top: 30px;
}

.login-content__line-container__link2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 15px;
}

.login-content__line-container__link2__message2 {
    font-size: 18px;
    width: 110px;
    color: #fff;
    background-color: #FF285C;
    border-radius: 10px;
    padding: 5px;
}

/*.login-content__line-container__link2__message2:hover {*/
/*    color: #efbe11;*/
/*    transition: all 0.2s ease-out;*/
/*}*/

@media screen and (min-width: 1600px) {
    .login-content__line-container__line1 {
        font-size: 26px;
    }
    .login-content__line-container__line2 {
        font-size: 24px;
    }
    .login-content__line-container__line3 {
        font-size: 24px;
    }
    .login-content__line-container__line2__link1__message1 {
        width: 155px;
        font-size: 20px;
    }
    .login-content__line-container__link2__message2 {
        width: 140px;
        font-size: 20px;
    }
}

@media screen and (max-width: 1600px) {
    .login-content__line-container__line1 {
        font-size: 28px;
    }
    .login-content__line-container__line2 {
        font-size: 26px;
    }
    .login-content__line-container__line3 {
        font-size: 26px;
    }
    .login-content__line-container__line2__link1__message1 {
        width: 155px;
        font-size: 22px;
    }
    .login-content__line-container__link2__message2 {
        width: 150px;
        font-size: 22px;
    }
}

@media screen and (max-width: 700px) {
    .login-content__icon-container-exclamation {
        position: relative;
        right: 50px;
        bottom: 50px;
    }
    .login-content__line-container {
        position: relative;
        right: 25px;
    }
}