$light-red: #F62525;
$white: #fff;
$blue-sky: #CFE2FF;
$black: #000;

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.fa-bars {
  padding-top: 11px;
  color: $white;
}

.login-navbar {
  background: $light-red;
  height: 93px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  padding-top: 8px;

  &__fc-logo-container {
    position: absolute;
    left: 50px;
  }

  &__fc-logo {
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    position: absolute;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    justify-content: end;
    padding: 0 140px 0 290px;
  }

  &__item {
    height: 80px;
  }

  &__links {
    color: $white;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-top: 20px;

    &:hover {
      border-bottom: 2.5px solid $white;
      transition: all 0.2s ease-out;
    }
  }

  &__menu-icon {
    display: none;
  }

  &__login {
    width: 175px;
    text-align: center;
    color: $white;
    flex-shrink: 1;
    font-weight: 100;
    text-decoration: none;

    &__profile-picture {
      width: 55px;
      height: 44px;
      position: relative;
      top: 6px;
    }

    p {
      font-size: 14px;
      font-weight: 500;
    }
  }
}

@media screen and (max-width: 850px) {
  .login-navbar {

    &__menu {
      grid-gap: 30px;
    }

    &__login {
      //color: #F62525;
      font-size: 2px;
      position: relative;
      right: 20px;
    }
  }
}

@media screen and (max-width: 950px) {
  .login-navbar {

    &__login {

      width: 175px;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 1060px) {
  .fa-times {
    color: $white;
    font-size: 2rem;
    padding-top: 8px;
  }

  .login-navbar__menu.active {
    background: $light-red;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    justify-content: center;
  }

  .login-navbar__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 90px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    justify-content: center;
  }

  .login-navbar {

    &__fc-logo-container {
      position: absolute;
      left: 20px;
      top: -33px;
    }

    &__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;

      &:hover {
        background-color: $white;
        color: $black;
        border-radius: 0;
      }
    }

    &__fc-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }

    &__menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1100px) {
  .login-navbar {

    &__login {
      width: 175px;
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 1160px) {
  .login-navbar {

    &__menu {
      padding: 0 80px 0 170px;
    }
  }
}

@media screen and (min-width: 1600px) {
  .login-navbar {
    width: 1750px;
    height: 135px;

    &__login {
      flex-basis: 250px;
      font-size: 18px;
      font-weight: 400;
    }
  }
}

@media screen and (min-width: 1700px) {
  .login-navbar {
    width: 100%;
  }
}