.review-nutrition-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.review-nutrition-body__title {
    color: #F62525;
    font-size: 16px;
    margin-top: 170px;
}

.review-nutrition-body__subheader-container {
    width: 115%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #F62525;
    font-size: 14px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 20px;
}

.review-nutrition-body__CICO {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 12px;
    text-align: center;
    position: relative;
    right: 40px;
    margin-top: 35px;
    margin-bottom: 20px;
}

.review-nutrition-body__CICO__title {
    width: 120px;
    color: #000;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-decoration: none;
    font-weight: 600;
}

.review-nutrition-body__CICO__title:hover {
    color: #efbe11;
    transition: all 0.2s ease-out;
}

.review-nutrition-body__CICO__teacher {
    position: relative;
    right: 16px;
    width: 70px;
}

.review-nutrition-body__CICO__user {
    position: relative;
    left: 20px;
}

.review-nutrition-body__workoutsnacks {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 12px;
    text-align: center;
    position: relative;
    right: 58px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.review-nutrition-body__workoutsnacks__title {
    width: 150px;
    color: #000;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    left: 8px;
}

.review-nutrition-body__workoutsnacks__title:hover {
    color: #efbe11;
    transition: all 0.2s ease-out;
}

.review-nutrition-body__workoutsnacks__teacher {
    position: relative;
    right: 8px;
}

.review-nutrition-body__workoutsnacks__user {
    position: relative;
    left: 26px;
}

.review-nutrition-body__testlevels-and-diets {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 12px;
    text-align: center;
    position: relative;
    right: 48px;
    margin-top: 50px;
    margin-bottom: 150px;
}

.review-nutrition-body__testlevels-and-diets__title {
    width: 120px;
    color: #000;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    left: 8px;
}

.review-nutrition-body__testlevels-and-diets__title:hover {
    color: #efbe11;
    transition: all 0.2s ease-out;
}

.review-nutrition-body__testlevels-and-diets__teacher {
    position: relative;
}

.review-nutrition-body__testlevels-and-diets__user {
    position: relative;
    left: 25px;
}

@media screen and (min-height: 812px) {
    .review-nutrition-body__subheader-container {
        margin-top: 65px;
        margin-bottom: 32px;
    }
}

@media screen and (min-height: 1024px) {
    .review-nutrition-body__title {
        font-size: 22px;
    }

    .review-nutrition-body__subheader-container {
        font-size: 20px;
    }

    .review-nutrition-body__CICO {
        font-size: 18px;
        position: relative;
        right: 70px;
    }

    .review-nutrition-body__CICO__title {
        width: 175px;
    }

    .review-nutrition-body__workoutsnacks {
        font-size: 18px;
    }

    .review-nutrition-body__testlevels-and-diets {
        font-size: 18px;
        margin-bottom: 162px;
    }

    .review-nutrition-body__testlevels-and-diets__teacher {
        position: relative;
        right: 22px;
    }

    .review-nutrition-body__testlevels-and-diets__title {
        width: 180px;
    }
}

@media screen and (min-width: 1200px) {
    .review-nutrition-body__title {
        font-size: 22px;
        margin-top: 60px;
    }

    .review-nutrition-body__subheader-container {
        font-size: 20px;
        position: relative;
        left: 18px;
    }

    .review-nutrition-body__CICO {
        font-size: 18px;
        position: relative;
        right: 85px;
    }

    .review-nutrition-body__CICO__title {
        width: 200px;
    }

    .review-nutrition-body__workoutsnacks {
        font-size: 18px;
        position: relative;
        right: 75px;
    }

    .review-nutrition-body__workoutsnacks__title {
        width: 200px;
    }

    .review-nutrition-body__testlevels-and-diets {
        font-size: 18px;
        position: relative;
        right: 70px;
        margin-bottom: 70px;
    }

    .review-nutrition-body__testlevels-and-diets__title {
        width: 170px;
    }
}

@media screen and (min-height: 1366px) {
    .review-nutrition-body__title {
        margin-top: 335px;
    }

    .review-nutrition-body__testlevels-and-diets {
        margin-bottom: 364px;
    }
}

@media screen and (min-width: 1600px) {
    .review-nutrition-body__title {
        font-size: 32px;
    }

    .review-nutrition-body__subheader-container {
        width: 1600px;
        font-size: 28px;
        position: relative;
        left: 20px;
    }

    .review-nutrition-body__CICO__title {
        width: 350px;
        font-size: 22px;
    }

    .review-nutrition-body__CICO__teacher {
        font-size: 22px;
        position: relative;
        right: 110px;
    }

    .review-nutrition-body__workoutsnacks__title {
        width: 350px;
        font-size: 22px;
        position: relative;
        left: 16px;
    }

    .review-nutrition-body__workoutsnacks__teacher {
        font-size: 22px;
        position: relative;
        right: 84px;
    }

    .review-nutrition-body__testlevels-and-diets__title {
        width: 350px;
        font-size: 22px;
    }

    .review-nutrition-body__testlevels-and-diets__teacher {
        font-size: 22px;
        position: relative;
        right: 90px;
    }
}

