.review-nutrition-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.review-nutrition-body__title {
    color: #F62525;
    font-size: 26px;
    margin-top: 70px;
}

.review-nutrition-body__subheader-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #F62525;
    font-size: 22px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 4px;
}

.review-nutrition-body__CICO {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 18px;
    text-align: center;
    position: relative;
    right: 40px;
    margin-top: 35px;
    margin-bottom: 20px;
}

.review-nutrition-body__CICO__title {
    width: 240px;
    color: #000;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-decoration: none;
    font-weight: 600;
}

.review-nutrition-body__CICO__title:hover {
    color: #efbe11;
    transition: all 0.2s ease-out;
}

.review-nutrition-body__CICO__teacher {
    position: relative;
    right: 75px;
}

.review-nutrition-body__CICO__user {
    position: relative;
    right: 30px;
}

.review-nutrition-body__workoutsnacks {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 18px;
    text-align: center;
    position: relative;
    right: 58px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.review-nutrition-body__workoutsnacks__title {
    width: 240px;
    color: #000;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.review-nutrition-body__workoutsnacks__title:hover {
    color: #efbe11;
    transition: all 0.2s ease-out;
}

.review-nutrition-body__workoutsnacks__teacher {
    position: relative;
    right: 60px;
}

.review-nutrition-body__workoutsnacks__user {
    position: relative;
    right: 4px;
}

.review-nutrition-body__testlevelsanddiets {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 18px;
    text-align: center;
    position: relative;
    right: 48px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.review-nutrition-body__testlevelsanddiets__title {
    width: 230px;
    color: #000;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.review-nutrition-body__testlevelsanddiets__title:hover {
    color: #efbe11;
    transition: all 0.2s ease-out;
}

.review-nutrition-body__testlevelsanddiets__teacher {
    position: relative;
    right: 60px;
}

.review-nutrition-body__testlevelsanddiets__user {
    position: relative;
    right: 10px;
}

@media screen and (min-width: 1600px) {
    .review-nutrition-body__title {
        font-size: 32px;
    }
    .review-nutrition-body__subheader-container {
        font-size: 28px;
        position: relative;
        left: 25px;
    }
    .review-nutrition-body__CICO__title {
        width: 350px;
        font-size: 22px;
    }
    .review-nutrition-body__CICO__teacher {
        font-size: 22px;
        position: relative;
        right: 96px;
    }
    .review-nutrition-body__workoutsnacks__title {
        width: 350px;
        font-size: 22px;
        position: relative;
        left: 16px;
    }
    .review-nutrition-body__workoutsnacks__teacher {
        font-size: 22px;
        position: relative;
        right: 84px;
    }
    .review-nutrition-body__testlevelsanddiets__title {
        width: 350px;
        font-size: 22px;
    }
    .review-nutrition-body__testlevelsanddiets__teacher {
        font-size: 22px;
        position: relative;
        right: 90px;
    }
}

@media screen and (max-width: 650px) {
    .review-nutrition-body__subheader-container {
        font-size: 20px;
        position: relative;
        left: 15px;
    }
    .review-nutrition-body__CICO {
        font-size: 16px;
        position: relative;
        right: 25px;
    }
    .review-nutrition-body__CICO__teacher {
        color: #fff;
        position: relative;
        right: 30px;
    }
    .review-nutrition-body__workoutsnacks {
        font-size: 16px;
        position: relative;
        right: 43px;
    }
    .review-nutrition-body__workoutsnacks__teacher {
        color: #fff;
        position: relative;
        right: 30px;
    }
    .review-nutrition-body__testlevelsanddiets {
        font-size: 16px;
        position: relative;
        right: 32px;
    }
    .review-nutrition-body__testlevelsanddiets__teacher {
        color: #fff;
        position: relative;
        right: 30px;
    }
}