.nutrition-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.nutrition-body__title {
    font-size: 26px;
    color: #000;
    margin-top: 55px;
}

.nutrition-body__subheader-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #F62525;
    font-size: 22px;
    font-weight: 600;
    margin-top: 45px;
}

.nutrition-body__subheader-container__playtime {

}

.nutrition-body__CICO {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 18px;
    text-align: center;
    position: relative;
    right: 40px;
    margin-top: 50px;
}

.nutrition-body__CICO__title {
    width: 260px;
    flex-shrink: 1;
    color: #000;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.nutrition-body__CICO__title:hover {
    color: #efbe11;
    transition: all 0.2s ease-out;
}

.nutrition-body__CICO__playtime {
    flex-shrink: 1;
    position: relative;
    right: 48px;
}

.nutrition-body__CICO__subcategory {
    flex-shrink: 1;
    position: relative;
    left: 8px;
}

.nutrition-body__workoutsnacks {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
    position: relative;
    right: 58px;
}

.nutrition-body__workoutsnacks__title {
    width: 240px;
    text-decoration: none;
    color: #000;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 600;
}

.nutrition-body__workoutsnacks__title:hover {
    color: #efbe11;
    transition: all 0.2s ease-out;
}

.nutrition-body__workoutsnacks__playtime {
    position: relative;
    right: 60px;
}

.nutrition-body__workoutsnacks__subcategory {
    position: relative;
    left: 4px;
}

.nutrition-body__testlevels-and-diets {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 69px;
    position: relative;
    right: 36px;
}

.nutrition-body__testlevels-and-diets__title {
    width: 260px;
    text-decoration: none;
    color: #000;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 600;
}

.nutrition-body__testlevels-and-diets__title:hover {
    color: #efbe11;
    transition: all 0.2s ease-out;
}

.nutrition-body__testlevels-and-diets__playtime {
    position: relative;
    right: 32px;
}

.nutrition-body__testlevels-and-diets__subcategory {
    position: relative;
    left: 15px;
}

@media screen and (min-width: 1600px) {
    .nutrition-body__title {
        font-size: 26px;
        margin-top: 54px;
    }
    .nutrition-body__subheader-container {
        font-size: 22px;
        position: relative;
        left: 15px;
    }
    .nutrition-body__CICO {
        font-size: 20px;
        margin-top: 40px;
    }
    .nutrition-body__CICO__title {
        width: 300px;
        /*text-align: left;*/
    }
    .nutrition-body__workoutsnacks {
        font-size: 20px;
        margin-top: 40px;
    }
    .nutrition-body__workoutsnacks__title {
        width: 300px;
        /*text-align: left;*/
    }
    .nutrition-body__workoutsnacks__playtime {
        position: relative;
        right: 66px;
    }
    .nutrition-body__testlevels-and-diets {
        font-size: 20px;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .nutrition-body__testlevels-and-diets__title {
        width: 300px;
        /*text-align: left;*/
    }
}

@media screen and (max-width: 685px) {
    .nutrition-body__subheader-container {
        font-size: 16px;
        margin-top: 85px;
    }
    .nutrition-body__CICO__playtime {
        font-size: 14px;
    }
    .nutrition-body__CICO__subcategory {
        font-size: 14px;
    }
    .nutrition-body__CICO__title {
        font-size: 14px;
    }
    .nutrition-body__workoutsnacks__title {
        font-size: 14px;
    }
    .nutrition-body__workoutsnacks__playtime {
        font-size: 14px;
    }
    .nutrition-body__workoutsnacks__subcategory {
        font-size: 14px;
    }
    .nutrition-body__testlevels-and-diets__title {
        font-size: 14px;
    }
    .nutrition-body__testlevels-and-diets__playtime {
        font-size: 14px;
    }
    .nutrition-body__testlevels-and-diets__subcategory {
        font-size: 14px;
    }
}

@media screen and (max-width: 605px) {
    .nutrition-body__subheader-container {
        position: relative;
        left: 25px;
    }
    .nutrition-body__subheader-container__playtime {
        color: #fff;
    }
    .nutrition-body__CICO {
        position: relative;
        right: 24px;
    }
    .nutrition-body__workoutsnacks {
        position: relative;
        right: 42px;
    }
    .nutrition-body__CICO__playtime {
        color: #fff;
        position: relative;
        left: 8px;
    }
    .nutrition-body__workoutsnacks__playtime {
        color: #fff;
    }
    .nutrition-body__testlevels-and-diets {
        position: relative;
        right: 24px;
    }
    .nutrition-body__testlevels-and-diets__playtime {
        color: #fff;
    }
}

