.settings-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.settings-content__icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 25px;
    bottom: 130px;
}

.settings-content__icons-lock {
    position: relative;
    bottom: 5px;
}

.settings-content__icons-photo {
    position: relative;
    top: 56px;
}

.settings-content__icons-newsletter {
    position: relative;
    top: 176px;
}

.settings-content__icons-delete {
    position: relative;
    top: 310px;
}

.settings-content__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-top: 45px;
}

.settings-content__one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings-content__one-label {

}

.settings-content__one-input {
    width: 200px;
    -webkit-text-fill-color: black;
    border-bottom: solid 3px black;
}

.settings-content__two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.settings-content__two-jpgmessage {
    font-size: 18px;
    margin-top: 20px;
}

.settings-content__two-button {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 18px;
    font-weight: 600;
    background-color: #F62525;
    color: white;
    padding: 5px;
    margin-top: 20px;
}

.settings-content__two-jpgconfirm {
    width: 380px;
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}

.settings-content__three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.settings-content__three-label {

}

.settings-content__three-input {

}

.settings-content__four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}