.create-review-body__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 22px;
    margin-top: 80px;
}

.create-review-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.create-review-body__dropdown {

}

.create-review-body__input {
    width: 200px;
    height: 200px;
    -webkit-text-fill-color: #666161;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    border: solid 2px #000;
    margin-top: 30px;
}

.create-review-body__error1 {
    color: #F62525;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.create-review-body__rating-message {
    color: #F62525;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
}

.create-review-body__rating-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.create-review-body__rating-container__icon {
    padding: 5px;
}

.create-review-body__rating-container__icon:hover{
    border-bottom: solid 2px #efbe11;
    transition: all 0.2s ease-out;
}

.create-review-body__post-button {
    width: 110px;
    height: 50px;
    background-color: #33769C;
    color: #fff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    font-weight: 600;
    border-color: #33769C;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.create-review-body__post-button:hover {
    color: #FAFD83;
    transition: all 0.2s ease-out;
}

@media screen and (min-height: 812px) {
    .create-review-body__title {
        margin-top: 102px;
    }
    .create-review-body__post-button {
        margin-bottom: 65px;
    }
}

@media screen and (min-width: 1200px) {
    .create-review-body__input {
        width: 300px;
    }
}

@media screen and (min-height: 1366px) {
    .create-review-body__title {
        margin-top: 270px;
    }
    .create-review-body__post-button {
        margin-bottom: 238px;
    }
}

@media screen and (min-width: 1600px) {
    .create-review-body__title {
        font-size: 24px;
    }

    .create-review-body__input {
        width: 300px;
    }

    .create-review-body__rating-message {
        font-size: 24px;
    }

    .create-review-body__post-button {
        width: 110px;
    }
}