.login__footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 35px;
    margin-top: 45px;
    background-color: #F62525;
    color: #fff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.login__footer__link1 {
    text-decoration: none;
    color: #fff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.login__footer__link1:hover {
    color: #efbe11;
    transition: all 0.2s ease-out;
}

.login__footer__link2 {
    text-decoration: none;
    color: #fff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.login__footer__link2:hover {
    color: #efbe11;
    transition: all 0.2s ease-out;
}