@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');

.logo_fc {
    flex-basis: 150px;
}

.title {
    color: white;
    flex-basis: 150px;
    position: relative;
    top: 20px;
    font-size: 24px;
}

.hold {
    display: flex;
    justify-content: space-evenly;
    background-color: #F62525;
    flex-basis: 150px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.barcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: 75px;
}

.phantom {
    width: 76px;
    height: 1px;
    background-color: #F62525;
    flex-basis: 150px;
    position: relative;
    bottom: 10px;
}

.bar_one {
    height: 1px;
    background-color: white;
    flex-basis: 120px;
    position: relative;
    right: 68px;
    bottom: 56px;
}

.bar_two {
    height: 1px;
    background-color: white;
    flex-basis: 68px;
    position: relative;
    right: 74px;
    bottom: 56px;
}

.bar_three {
    height: 1px;
    background-color: white;
    flex-basis: 120px;
    position: relative;
    right: 24px;
    bottom: 56px;
}

.bar_four {
    height: 1px;
    background-color: white;
    flex-basis: 86px;
    position: relative;
    right: 28px;
    bottom: 56px;
}

