$light-green: #69DD56;

.review-create {
    width: 300px;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 70px;
    left: 40px;

    &__plus-icon {
        width: 20px;
        position: relative;
        bottom: 12px;
    }

    &__link {
        width: 170px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        color: $light-green;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
    }
}

@media screen and (min-width: 360px) {
    .review-create {
        position: relative;
        left: 70px;
    }
}

@media screen and (min-width: 411px) {
    .review-create {
        position: relative;
        left: 95px;
    }
}

@media screen and (min-height: 812px) {
    .review-create {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media screen and (min-height: 1024px) {
    .review-create {
        position: relative;
        left: 232px;
    }
}

@media screen and (min-width: 1200px) {
    .review-create {
        position: relative;
        left: 200px;
    }
}

@media screen and (min-height: 1366px) {
    .review-create {
        position: relative;
        left: 390px;
        margin-top: 90px;

        &__plus-icon {
            width: 25px;
        }

        &__link {
            width: 250px;
            font-size: 30px;
        }
    }
}