.register-content {
    display: flex;
    flex-direction: row;
}

.register-content2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.register-content__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    position: relative;
    left: 210px;
    margin-top: 45px;
}

.register-content__container__one__input {
    width: 166px;
    -webkit-text-fill-color: #000;
    font-size: 12px;
    border-bottom: solid 3px #000;
}

.register-content__container__one__input__error1 {
    color: #F62525;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.register-content__container__two {
    margin-top: 35px;
}

.register-content__container__two__input {
    width: 150px;
    -webkit-text-fill-color: #000;
    font-size: 12px;
    border-bottom: solid 3px #000;
}

.register-content__container__one__input__error2 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #F62525;
}

.register-content__container__three {
    width: 420px;
    margin-top: 35px;
}

.register-content__container__three__button {
    color: #fff;
    background-color: #FF285C;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border-color: #FF285C;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 45px;
}

@media screen and (min-width: 1600px) {
    .register-content__container {
        font-size: 24px;
        position: relative;
        left: 320px;
    }

    .register-content__container__three__button {
        font-size: 22px;
    }
}

@media screen and (max-width: 1600px) {
    .register-content__container {
        font-size: 26px;
    }

    .register-content__container__three__button {
        font-size: 24px;
    }
}

@media screen and (max-width: 7000px) {
    .register-content__container {
        position: relative;
        left: 0px;
        right: 500px;
    }
}


