.register-content {
    width: 150px;
    display: flex;
    flex-direction: row;
}

.register-content2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.register-content__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    position: relative;
    right: 90px;
}

.register-content__container__one__input {
    width: 166px;
    -webkit-text-fill-color: #000;
    font-size: 12px;
    border-bottom: solid 3px #000;
}

.register-content__container__one__input__error1 {
    color: #F62525;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.register-content__container__two {
    margin-top: 35px;
}

.register-content__container__two__input {
    width: 150px;
    -webkit-text-fill-color: #000;
    font-size: 12px;
    border-bottom: solid 3px #000;
}

.register-content__container__one__input__error2 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #F62525;
}

.register-content__container__three {
    width: 200px;
    margin-top: 35px;
}

.register-content__container__three__button {
    color: #fff;
    background-color: #FF285C;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border-color: #FF285C;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 45px;
}

@media screen and (min-width: 360px) {
    .register-content {
        position: relative;
        left: 0px;
    }
}

@media screen and (min-height: 812px) {
    .register-content {
        position: relative;
        left: 35px;
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .register-content__container {
        font-size: 20px;
    }

    .register-content__container__one__input {
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .register-content__container__two__input {
        margin-top: 10px;
        margin-bottom: 40px;
    }
}

@media screen and (min-height: 1024px) {
    .register-content {
        width: 735px;
        height: 1055px;
        margin-bottom: 0px;
    }
    .register-content2 {
        position: relative;
        left: 135px;
        height: 900px;
    }
    .register-content__container {
        font-size: 24px;
    }
    .register-content__container__three {
        position: relative;
        left: 45px;
    }
}

@media screen and (min-height: 1366px) {
    .register-content2 {
        position: relative;
        left: 200px;
        height: 900px;
    }
}

@media screen and (min-width: 700px) {
    .register-content__container {
        position: relative;
        left: 215px;
    }
}

@media screen and (min-width: 1200px) {
    .register-content__container {
        width: 500px;
        font-size: 22px;
        position: relative;
        left: 300px;
    }
    .register-content__container__three {
        width: 500px;
        margin-top: 35px;
    }
    .register-content__container__three__button {
        font-size: 20px;
    }
}

@media screen and (min-width: 1600px) {
    .register-content__container {
        width: 500px;
        font-size: 26px;
        position: relative;
        left: 430px;
    }
    .register-content__container__three {
        width: 500px;
        margin-top: 35px;
    }
    .register-content__container__three__button {
        font-size: 24px;
    }
}


