.footer {
    width: 102%;
    /*width: 100%;*/
    background-color: #F62525;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: 60px;
}

.footer__link {
    color: #fff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    position: relative;
    right: 15px;
}

.footer__link:hover {
    color: #CFE2FF;
    transition: all 0.2s linear;
}

/*@media screen and (min-width: 1600px) {*/
/*    .footer__link {*/
/*        font-size: 24px;*/
/*        position: relative;*/
/*        left: 10px;*/
/*    }*/

/*    .footer {*/
/*        width: 1720px;*/
/*    }*/
/*}*/