.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #F62525;
    color: #fff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-top: 60px;
}

.footer__message {
    flex-basis: 250px;
    font-size: 20px;
}

.footer__form-container__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*.footer__form-container__form__label {*/
/*    !*-webkit-text-fill-color: #000;*!*/
/*}*/

.footer__form-container__form__label__input {
    font-size: 12px;
    text-align: center;
    -webkit-text-fill-color: #000;
}

.footer__form-container__form__link {
    -webkit-text-fill-color: #fff;
    background-color: #000;
    font-weight: 600;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    text-decoration: none;
}