.newsletter-content {
    width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 22px;
    font-weight: 600;
    position: relative;
    right: 10px;
    margin-top: 60px;
    margin-bottom: 18px;
}

.newsletter-content__link {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #000;
    text-decoration: none;
    position: relative;
    left: 415px;
    margin-bottom: 45px;
}

.newsletter-content__link:hover {
    color: #efbe11;
    transition: all 0.2s ease-out;
}

@media screen and (min-width: 1600px) {
    .newsletter-content {
        width: 1000px;
        font-size: 26px;
        position: relative;
        left: 100px;
        margin-top: 95px;
    }
    .newsletter-content__link {
        margin-bottom: 72px;
    }
}



