.button_login {
    margin: 15px;
}

.form_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.login_direction_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #666161;
    padding: 20px;
}

.login_icon {
    width: 60px;
    height: 60px;
    margin: 20px;
    color: #EFBE11;
}

.text_container {
    text-align: center;
    color: #EFBE11;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
}