.CICO-pay-content__forms {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.CICO-pay-content__title {
    color: #F62525;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-top: 75px;
}

.CICO-pay-content__confirm {
    font-size: 22px;
    font-weight: 600;
    margin-top: 50px;
}

.CICO-pay-content__pay-button {
    width: 125px;
    height: 50px;
    background-color: #33769C;
    -webkit-text-fill-color: #fff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    font-weight: 600;
    border-color: #33769C;
    border-radius: 10px;
    margin-top: 35px;
    margin-bottom: 25px;
}

.CICO-pay-content__pay-button:hover {
    color: #FAFD83;
    transition: all 0.2s ease-out;
}

.CICO-pay-content__confirm-button {
    width: 125px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #33769C;
    -webkit-text-fill-color: #fff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    font-weight: 600;
    border-color: #33769C;
    border-radius: 10px;
    margin-bottom: 35px;
}

.CICO-pay-content__confirm-button:hover {
    color: #FAFD83;
    transition: all 0.2s ease-out;
}

@media screen and (min-width: 600px) {
    .CICO-pay-content__title {
        margin-top: 78px;
    }

    .CICO-pay-content__confirm-button {
        margin-bottom: 80px;
    }
}

@media screen and (min-height: 812px) {
    .CICO-pay-content__title {
        margin-top: 100px;
    }

    .CICO-pay-content__confirm-button {
        margin-top: 30px;
        margin-bottom: 44px;
    }
}

@media screen and (min-height: 1024px) {
    .CICO-pay-content__title {
        margin-top: 165px;
    }

    .CICO-pay-content__confirm-button {
        margin-top: 40px;
        margin-bottom: 180px;
    }
}

@media screen and (min-width: 1200px) {
    .CICO-pay-content__title {
        margin-top: 78px;
    }

    .CICO-pay-content__confirm {
        margin-bottom: 40px;
    }

    .CICO-pay-content__pay-button {
        margin-top: 10px;
        margin-bottom: 40px;
    }
}

@media screen and (min-height: 1366px) {
    .CICO-pay-content__title {
        margin-top: 344px;
    }

    .CICO-pay-content__confirm-button {
        margin-bottom: 344px;
    }
}

@media screen and (min-width: 1600px) {
    .CICO-pay-content__title {
        font-size: 24px;
    }

    .CICO-pay-content__confirm {
        font-size: 22px;
    }
}

