.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 40px;

    &__item1 {
        width: 300px;
    }

    &__item2 {
        width: 300px;
        margin-top: 30px;
    }

    &__item3 {
        width: 300px;
        margin-top: 30px;
    }
}

@media screen and (min-width: 375px) {
    .about-content {
        font-size: 16px;
    }
}

@media screen and (min-width: 767px) {
    .about-content {
        font-size: 20px;
        margin-top: 80px;
        margin-bottom: 80px;

        &__item1 {
            width: 500px;
        }

        &__item2 {
            width: 500px;
            margin-top: 70px;
        }

        &__item3 {
            width: 500px;
            margin-top: 70px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .about-content {
        font-size: 20px;
        margin-top: 112px;
        margin-bottom: 112px;

        &__item1 {
            width: 620px;
        }

        &__item2 {
            width: 620px;
            margin-top: 100px;
        }

        &__item3 {
            width: 620px;
            margin-top: 100px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .about-content {
        font-size: 20px;
        margin-top: 55px;
        margin-bottom: 55px;

        &__item2 {
            width: 600px;
            margin-top: 30px;
        }

        &__item3 {
            margin-top: 30px;
        }
    }
}

@media screen and (min-height: 1366px) {
    .about-content {
        margin-top: 270px;
        margin-bottom: 270px;
    }
}

@media screen and (min-width: 1600px) {
    .about-content {
        font-size: 22px;
        margin-top: 140px;
        margin-bottom: 140px;

        &__item1 {
            width: 775px;
        }

        &__item2 {
            width: 775px;
            margin-top: 30px;
        }

        &__item3 {
            width: 775px;
            margin-top: 30px;
        }
    }
}

