.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    /*font-size: 20px;*/
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.about-content__item1 {
    width: 300px;
}

.about-content__item2 {
    width: 300px;
    margin-top: 30px;
}

.about-content__item3 {
    width: 300px;
    margin-top: 30px;
}

@media screen and (min-width: 1600px) {
    .about-content {
        font-size: 22px;
        margin-top: 52px;
        margin-bottom: 52px;
    }
    .about-content__item1 {
        width: 775px;
    }

    .about-content__item2 {
        width: 775px;
        margin-top: 30px;
    }
    .about-content__item3 {
        width: 775px;
        margin-top: 30px;
    }
}

@media screen and (min-width: 375px) {
    .about-content {
        font-size: 16px;
    }
}

@media screen and (min-width: 767px) {
    .about-content {
        font-size: 20px;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .about-content__item1 {
        width: 500px;
    }

    .about-content__item2 {
        width: 500px;
        margin-top: 70px;
    }

    .about-content__item3 {
        width: 500px;
        margin-top: 70px;
    }
}

@media screen and (min-width: 1024px) {
    .about-content {
        font-size: 20px;
        margin-top: 112px;
        margin-bottom: 112px;
    }

    .about-content__item1 {
        width: 620px;
    }

    .about-content__item2 {
        width: 620px;
        margin-top: 100px;
    }

    .about-content__item3 {
        width: 620px;
        margin-top: 100px;
    }
}

@media screen and (min-width: 1200px) {
    .about-content {
        font-size: 20px;
        margin-top: 55px;
        margin-bottom: 55px;
    }

    .about-content__item2 {
        width: 600px;
        margin-top: 30px;
    }

    .about-content__item3 {
        margin-top: 30px;
    }
}

@media screen and (min-height: 1366px) {
    .about-content {
        margin-top: 270px;
        margin-bottom: 270px;
    }
}

@media screen and (min-width: 1600px) {
    .about-content {
        font-size: 20px;
        margin-top: 45px;
        margin-bottom: 45px;
    }
}

