.settings-content {
    /*width: 280px;*/
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 16px;
}

.settings-content__icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 25px;
    bottom: 256px;
}

.settings-content__icon-container__lock {
    /*position: relative;*/
    /*bottom: 0px;*/
}

.settings-content__icon-container__photo {
    position: relative;
    top: 112px;
}

.settings-content__icon-container__newsletter {
    position: relative;
    top: 294px;
}

.settings-content__icon-container__delete {
    position: relative;
    top: 380px;
}

.settings-content__container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 45px;
}

.settings-content__container1__item1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings-content__container1__item1__change-password {
    color: #000;
}

.settings-content__container1__item1__label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.settings-content__container1__item1__label__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings-content__container1__item1__label__form__password {
    width: 200px;
    -webkit-text-fill-color: #000;
    border-bottom: solid 3px #000;
}

.settings-content__container1__item1__label__form__error1 {
    color: #F62525;
    font-size: 14px;
    font-weight: 600;
}

.settings-content__container1__item1__label__form__button {
    color: #fff;
    background-color: #FF285C;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-color: #FF285C;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
}

.settings-content__container1__item1__label__form__success-message {
    color: #F62525;
    position: relative;
    top: 5px;
}

.settings-content__container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.settings-content__container2__change-profile-picture {
    color: #000;
}

.settings-content__container2__jpg-message {
    font-size: 14px;
    margin-top: 20px;
}

.settings-content__container2__button {
    background-color: #FF285C;
    color: #fff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 18px;
    font-weight: 600;
    border-color: #FF285C;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
}

.settings-content__container2__jpg-confirm {
    width: 300px;
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}

.settings-content__container2__success-message {
    color: #F62525;
}

.settings-content__container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.settings-content__container3__send-newsletter {
    color: #000;
}

.settings-content__container3__button {
    color: #fff;
    background-color: #33769C;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 18px;
    font-weight: 600;
    border-color: #33769C;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
}

.settings-content__container3__button:hover {
    color: #FAFD83;
    transition: all 0.2s ease-out;
}

.settings-content__container3__success-message {
    color: #F62525;
    position: relative;
    top: 5px;
}

.settings-content__container4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.settings-content__container4__delete-account {
    color: #000;
    text-align: center;
}

.settings-content__container4__message {
    width: 200px;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}

.settings-content__container4__button {
    color: #fff;
    background-color: #FF285C;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 18px;
    font-weight: 600;
    border-color: #FF285C;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 45px;
}

.settings-content__container4__success-message {
    color: #F62525;
    position: relative;
    top: 5px;
}

@media screen and (min-height: 1024px) {
    .settings-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 25px;
        margin-top: 80px;
    }

    .settings-content__icon-container {
        position: relative;
        bottom: 318px;
    }

    .settings-content__container4 {
        margin-bottom: 120px;
    }
}

@media screen and (min-height: 1366px) {
    .settings-content {
        position: relative;
        right: 50px;
        margin-top: 200px;
    }

    .settings-content__icon-container {
        position: relative;
        bottom: 420px;
    }

    .settings-content__container1 {
        font-size: 20px;
    }

    .settings-content__container2__jpg-message {
        font-size: 18px;
    }

    .settings-content__container2__jpg-confirm {
        font-size: 16px;
    }

    .settings-content__container4 {
        margin-bottom: 275px;
    }
}

@media screen and (min-width: 1600px) {
    .settings-content {
        position: relative;
        right: 50px;
    }

    .settings-content__icon-container__lock {
        position: relative;
        bottom: 36px;
    }

    .settings-content__icon-container__photo {
        position: relative;
        top: 94px;
    }

    .settings-content__icon-container__newsletter {
        position: relative;
        top: 306px;
    }

    .settings-content__icon-container__delete {
        position: relative;
        top: 400px;
    }

    .settings-content__container1__item1__change-password {
        font-size: 24px;
    }

    .settings-content__container2__change-profile-picture {
        font-size: 24px;
    }

    .settings-content__container2__jpg-message {
        font-size: 20px;
    }

    .settings-content__container2__jpg-confirm {
        font-size: 14px;
        position: relative;
        left: 20px;
    }

    .settings-content__container2__success-message {
        color: #F62525;
        position: relative;
        top: 5px;
    }

    .settings-content__container3__send-newsletter {
        font-size: 24px;
    }

    .settings-content__container4__delete-account {
        font-size: 24px;
    }

    .settings-content__container4__message {
        font-size: 14px;
    }
}