.settings-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 16px;
}

.settings-content__icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 25px;
    bottom: 256px;
}

.settings-content__icon-container__lock {
    position: relative;
    bottom: 35px;
}

.settings-content__icon-container__photo {
    position: relative;
    top: 78px;
}

.settings-content__icon-container__newsletter {
    position: relative;
    top: 325px;
}

.settings-content__icon-container__delete {
    position: relative;
    top: 420px;
}

.settings-content__container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-top: 45px;
}

.settings-content__container1__item1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings-content__container1__item1__label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.settings-content__container1__item1__label__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings-content__container1__item1__label__form__password {
    width: 200px;
    -webkit-text-fill-color: #000;
    border-bottom: solid 3px #000;
}

.settings-content__container1__item1__label__form__error1 {
    /*font-family: 'M PLUS Rounded 1c', sans-serif;*/
    font-size: 14px;
    font-weight: 600;
    color: #F62525;
}

.settings-content__container1__item1__label__form__button {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 18px;
    font-weight: 600;
    background-color: #F62525;
    color: white;
    padding: 5px;
    margin-top: 20px;
}

.settings-content__container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.settings-content__container2__jpg-message {
    font-size: 18px;
    margin-top: 20px;
}

.settings-content__container2__button {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 18px;
    font-weight: 600;
    background-color: #F62525;
    color: white;
    padding: 5px;
    margin-top: 20px;
}

.settings-content__container2__jpg-confirm {
    width: 380px;
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}

.settings-content__container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.settings-content__container3__button {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 18px;
    font-weight: 600;
    background-color: white;
    color: #31A12E;
    padding: 5px;
    margin-top: 20px;
}

.settings-content__container4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.settings-content__container4__message {
    font-size: 12px;
    text-align: center;
    width: 200px;
    margin-top: 20px;
}

.settings-content__container4__button {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 18px;
    font-weight: 600;
    background-color: #F62525;
    color: white;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 45px;
}