.banner {
    width: 100%;
    /*width: 1378px;*/
    display: flex;
    justify-content: center;
    /*flex-wrap: wrap;*/
}

.banner__picture-lifting {
    width: 400px;
    flex-basis: 467px;
    height: 240px;
    flex-shrink: 0;
}

.banner__picture-food {
    width: 400px;
    flex-basis: 468px;
    height: 240px;
    flex-shrink: 0;
}

.banner__picture-home-gym {
    width: 400px;
    flex-basis: 468px;
    height: 240px;
    flex-shrink: 0;
}

@media screen and (min-width: 1375px) {
    .banner {
        /*width: 100%;*/
        width: 1720px;
    }
    .banner__picture-lifting {
        width: 770px;
        height: 275px;
    }
    .banner__picture-food {
        width: 770px;
        height: 275px;
    }
    .banner__picture-homegym {
        width: 770px;
        height: 275px;
    }
}