.banner {
    /*width: 100%;*/
    width: 1378px;
    display: flex;
    justify-content: center;
}

.banner__picture-lifting {
    width: 475px;
    height: 240px;
}

.banner__picture-food {
    width: 475px;
    height: 240px;
}

.banner__picture-homegym {
    width: 475px;
    height: 240px;
}

@media screen and (min-width: 1375px) {
    .banner {
        /*width: 100%;*/
        width: 1720px;
    }
    .banner__picture-lifting {
        width: 770px;
        height: 275px;
    }
    .banner__picture-food {
        width: 770px;
        height: 275px;
    }
    .banner__picture-homegym {
        width: 770px;
        height: 275px;
    }
}