.banner {
    display: flex;
    justify-content: center;
}

.picture__lifting {
    width: 455px;
    height: 240px;
}

.picture__food {
    width: 455px;
    height: 240px;
}

.picture__homegym {
    width: 455px;
    height: 240px;
}


/*.quote1 {*/
/*    color: black;*/
/*    display: flex;*/
/*    position: relative;*/
/*    right: 135px;*/
/*    margin: 10px;*/
/*}*/

/*.quote2 {*/
/*    color: black;*/
/*    display: flex;*/
/*    position: relative;*/
/*    right: 135px;*/
/*    margin: 10px;*/
/*}*/

/*.quote3 {*/
/*    color: black;*/
/*    display: flex;*/
/*    position: relative;*/
/*    right: 70px;*/
/*    margin: 10px;*/
/*}*/