.banner {
    width: 100%;
    display: flex;
    justify-content: center;

    &__picture-lifting {
        width: 400px;
        height: 240px;
        flex-basis: 468px;
        flex-shrink: 0;
    }

    &__picture-food {
        width: 400px;
        height: 240px;
        flex-basis: 468px;
        flex-shrink: 0;
    }

    &__picture-home-gym {
        width: 400px;
        height: 240px;
        flex-basis: 468px;
        flex-shrink: 0;
    }
}

@media Screen and (max-width: 1000px) {
    .banner {

        &__picture-lifting {
            height: 240px;
            flex-basis: 380px;
        }

        &__picture-food {
            height: 240px;
            flex-basis: 380px;
        }

        &__picture-home-gym {
            height: 240px;
            flex-basis: 380px;
        }
    }
}

@media Screen and (min-width: 1600px) {
    .banner {

        &__picture-lifting {
            height: 240px;
            flex-basis: 554px;
        }

        &__picture-food {
            height: 240px;
            flex-basis: 554px;
        }

        &__picture-home-gym {
            height: 240px;
            flex-basis: 554px;
        }
    }
}

@media Screen and (min-width: 1700px) {
    .banner {

        &__picture-lifting {
            height: 290px;
            flex-basis: 732px;
        }

        &__picture-food {
            height: 290px;
            flex-basis: 732px;
        }

        &__picture-home-gym {
            height: 290px;
            flex-basis: 732px;
        }
    }
}